.title {
  font-weight: 700;
  font-size: 24px;
}
.logo {
  display: inline;
  height: 25px;
  margin-left: 24px;
}
.divider{
  /* background: #E4EBFA; */
  height: 96px;
  border: 1px solid #E4EBFA;
}
.header{
  display: flex;
  align-items: center;
  gap: 32px;
}
.header_active{
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 95px;
}
.circle{
  border-radius: 50%;
  width: 5px;
  height: 5px;
  border: none;
  background: #828FA3;
}
.features_btn{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 32px;
}
.add_new_task{
  background: #635FC7;
  border-radius: 24px;
  padding: 15px 24px 15px 24px;
  color: #fff;
  font-weight: 700;
  font-style: 15px;
}
.content{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.todo{
  padding: 23px 16px 23px 16px;
  background: #fff;
  width: 280px;
  border-radius: 8px;
}
.todo_circle{
  background: #49C4E5;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.subtitle{
  color: #828FA3;
  font-weight: 700;
  display: flex;
  font-size: 12px;
  margin-bottom: 24px;
  gap: 12px;
  letter-spacing: 2.4px;
}
.col{
  margin: 24px 0px 24px 24px;
}
.task_title{
  color: #000112;
  font-weight: 700;
  font-size: 15px;
}
.task_subtitle{
  font-weight: 700;
  font-size: 12px;
  color: #828FA3;
}
.newcolumn{
  margin-left: 24px;
  color: #828FA3;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  width: 280px;
  margin-top: 63px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.5) 100%);
  border-radius: 6px;
}
.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  /* transition: ease width 0.3s; */
}
.empty_active{
  display: flex;
  margin-left: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  transition: ease width 0.3s;
}
.empty_title{
  color: #828FA3;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.boards{
  font-weight: 700;
  font-size: 15px;
  color: #828FA3;
}

.nav {
  top: 96px;
  left: 0;
  position: fixed;
  /* z-index: 100; */
  height: 100vh; /* <--- set height to max */
  border-right: 1px solid #E4EBFA; /* <--- border right */
  white-space: nowrap;
  background: #fff;
}
.nav_menu {
  width: 0; /* <--- width to 0 */
  overflow: hidden;
  transition: ease width 0.3s; /* <--- ease in */
}
.nav_menu_active {
  width: 300px; /* <--- set width percentage will not ease */
  transition: ease width 0.3s; /* <--- ease out */
}
.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 128px;
  width: 56px;
  height: 48px;
  border-radius: 0px 100px 100px 0px;
  z-index: 100;
  background: #635FC7;
  transition: ease width 0.3s;
}
.toggle_active {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 128px;
  width: 276px;
  height: 48px;
  border-radius: 0px 100px 100px 0px;
  z-index: 100;
  background: rgba(99, 95, 199, 0.1);
  color: #635FC7;
  mix-blend-mode: normal;
  transition: ease width 0.3s;
}